@import url("https://fonts.googleapis.com/css2?family=Calistoga&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

body {
  height: 100%;
  width: 100%;
  overflow-x: clip;
}

@theme {
  --font-inter: "Inter", sans-serif;
  --font-calistogo: "Calistoga", serif;
  --breakpoint-sm: 375px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1200px;

  --container-padding: 1rem;
  --container-padding-md: 2rem;

  /*animation*/
  --animate-tape: tape 1s linear infinite;

  @keyframes ping {
    75%,
    100% {
      transform: scale(3);
      opacity: 0;
    }
  }
  @keyframes tape {
    0% {
      tranform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }
}

@layer components {
  .nav-item {
    @apply text-sm text-white/60 px-4 py-1.5 font-semibold  rounded-full hover:bg-white/10 hover:text-white transition duration-300;
  }
}
