@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Calistoga&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@theme {
  --font-inter: "Inter", sans-serif;
  --font-calistogo: "Calistoga", serif;
}

@layer components {
  .nav-item {
    @apply text-sm text-white/60 px-4 py-1.5 font-semibold  rounded-full hover:bg-white/10 hover:text-white transition duration-300;
  }
}
